/* styles.css */

:root {
  --primary-color: #1976d2;
  /* Color primario por defecto */
  --background-color: #ffffff;
  /* Fondo claro por defecto */
}

[data-theme='dark'] {
  --primary-color: #90caf9;
  /* Color primario oscuro */
  --background-color: #121212;
  /* Fondo oscuro */
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.primary {
  color: var(--primary-color);
}